<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lcng.Vs15CordovaTemplate.InJavaScript" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android = "http://schemas.android.com/apk/res/android">
  <name>人口关联采集系统</name>
  <description>
    Splash Screen + Translucent Status Bar + Remote APP
  </description>
  <author email="294867413@qq.com" href="294867413@qq.com">
    Lcng
  </author>
  <content src="index.html" />
  <!--<content src="https://m.baidu.com" />-->
  <config-file platform="android" parent="/manifest" mode="merge">
    <!--<application android:theme="@android:style/Theme.Translucent.NoTitleBar"></application>-->
    <application android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></application>
    <!--<application android:theme="@android:style/Theme.NoDisplay"></application>-->
    <!--没有主题，应用程序无法显示-->
  </config-file>
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="21" />
  <preference name="fullscreen" value="false" />
  <!--<preference name="Fullscreen" value="true" />-->
  <!--启动时非全屏，启动后是全屏-->

  <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
  <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1">
    <preference name="SplashScreen"               value="splash" />
    <preference name="AutoHideSplashScreen"       value="false" />
    <preference name="SplashScreenDelay"          value="0" />
    <preference name="SplashMaintainAspectRatio"  value="true" />
    <preference name="FadeSplashScreen"           value="false"/>
    <preference name="ShowSplashScreenSpinner"    value="false" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
  </plugin>
  <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.2.3" />
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
  <plugin name="cordova-plugin-remote-injection" source="npm" spec="~0.5.2"></plugin>

  <platform name="android">
    <!--不考虑横屏-->
    <preference name="orientation" value="portrait" />

    <icon density="ldpi" src="res/icon/android/drawable-ldpi-icon.png" />
    <icon density="mdpi" src="res/icon/android/drawable-mdpi-icon.png" />
    <icon density="hdpi" src="res/icon/android/drawable-hdpi-icon.png" />
    <icon density="xhdpi" src="res/icon/android/drawable-xhdpi-icon.png" />
    <icon density="xxhdpi" src="res/icon/android/drawable-xxhdpi-icon.png" />
    <icon density="xxxhdpi" src="res/icon/android/drawable-xxxhdpi-icon.png" />
    <!--删除了density-前缀-->
    <splash density="ldpi" src="res/screen/android/drawable-port-ldpi-screen.png" />
    <splash density="mdpi" src="res/screen/android/drawable-port-mdpi-screen.png" />
    <splash density="hdpi" src="res/screen/android/drawable-port-hdpi-screen.png" />
    <splash density="xhdpi" src="res/screen/android/drawable-port-xhdpi-screen.png" />
    <splash density="xxhdpi" src="res/screen/android/drawable-port-xxhdpi-screen.png" />
    <splash density="xxxhdpi" src="res/screen/android/drawable-port-xxxhdpi-screen.png" />
  </platform>

  <!--whitelist配置，不能放在plugin里面-->
  <allow-navigation href="*" />
  <access origin="*" />
</widget>
