<?xml version="1.0" encoding="utf-8"?>
<widget id="com.lcng.Vs15CordovaTemplate.InJavaScript" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>浜哄彛鍏宠仈閲囬泦绯荤粺</name>
  <description>
    Splash Screen + Translucent Status Bar + Remote APP
  </description>
  <author email="294867413@qq.com" href="294867413@qq.com">
    Lcng
  </author>
  <content src="index.html" />
  <!--<content src="https://m.baidu.com" />-->
  <config-file platform="android" parent="/manifest" mode="merge">
    <!--<application android:theme="@android:style/Theme.Translucent.NoTitleBar"></application>-->
    <application android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
    </application>
  </config-file>
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="21" />
  <!--<preference name="Fullscreen" value="true" />-->
  <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
  <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1">
    <preference name="SplashScreen" value="splash" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
  </plugin>
  <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.2.3" />
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
  <plugin name="cordova-plugin-remote-injection" source="npm" spec="~0.5.2">
  </plugin>
  <!--<plugin name="ionic-plugin-keyboard" source="npm" spec="~2.2.1"></plugin>-->
  <platform name="android">
    <preference name="orientation" value="portrait" />
    <icon density="ldpi" src="res/icon/android/drawable-ldpi-icon.png" />
    <icon density="mdpi" src="res/icon/android/drawable-mdpi-icon.png" />
    <icon density="hdpi" src="res/icon/android/drawable-hdpi-icon.png" />
    <icon density="xhdpi" src="res/icon/android/drawable-xhdpi-icon.png" />
    <icon density="xxhdpi" src="res/icon/android/drawable-xxhdpi-icon.png" />
    <icon density="xxxhdpi" src="res/icon/android/drawable-xxxhdpi-icon.png" />
    <splash density="ldpi" src="res/screen/android/drawable-port-ldpi-screen.png" />
    <splash density="mdpi" src="res/screen/android/drawable-port-mdpi-screen.png" />
    <splash density="hdpi" src="res/screen/android/drawable-port-hdpi-screen.png" />
    <splash density="xhdpi" src="res/screen/android/drawable-port-xhdpi-screen.png" />
    <splash density="xxhdpi" src="res/screen/android/drawable-port-xxhdpi-screen.png" />
    <splash density="xxxhdpi" src="res/screen/android/drawable-port-xxxhdpi-screen.png" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
  <platform name="ios">
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="res/icons/ios/icon-60-3x.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="res/icons/ios/icon-60.png" width="60" height="60" />
    <icon src="res/icons/ios/icon-60-2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="res/icons/ios/icon-76.png" width="76" height="76" />
    <icon src="res/icons/ios/icon-76-2x.png" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="res/icons/ios/icon-40.png" width="40" height="40" />
    <icon src="res/icons/ios/icon-40-2x.png" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="res/icons/ios/icon-57.png" width="57" height="57" />
    <icon src="res/icons/ios/icon-57-2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="res/icons/ios/icon-72.png" width="72" height="72" />
    <icon src="res/icons/ios/icon-72-2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/icons/ios/icon-small.png" width="29" height="29" />
    <icon src="res/icons/ios/icon-small-2x.png" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/icons/ios/icon-50.png" width="50" height="50" />
    <icon src="res/icons/ios/icon-50-2x.png" width="100" height="100" />
  </platform>
  <allow-navigation href="*" />
  <access origin="*" />
  <vs:toolsetVersion xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps">6.3.1</vs:toolsetVersion>
  <engine name="android" spec="5.2.1" />
  <engine name="ios" spec="4.2.0" />
  <engine name="windows" spec="4.4.2" />
  <preference name="windows-target-version" value="10.0" />
</widget>